@charset "utf-8";
/* CSS Document */
div, p{margin:0; padding:0;}
div{width:800px;height:500px; margin:20px auto;
	border:3px solid #000000;
position:relative;}
p{margin:0; padding:0;
	position:absolute;}

p.pic01{top: 12px; right:220px;}
p.pic02{left:0; bottom:120px;}
p.pic03{left:110px; top:2px;}
p.pic04{right:72px; top:12px;}
p.pic05{bottom:250px; right:220px;}
p.pic06{bottom:100px; right: 430px;}
p.pic07{bottom:2px; right:300px;}
p.pic08{right:3px; bottom:40px;}