@charset "UTF-8";
/* CSS Document */
div{width:200px; height:200px; padding:25px; border:10px solid #000; margin-bottom:25px;}

/* 우와 이쁘당 */
#box0{
  background-image:linear-gradient(45deg,orange 0%, yellow 45%, #666 90%)}
#box1
{background-image: linear-gradient(to right,red 0%, yellow 100%)}
#box2{
  width:500px;
  background-image:radial-gradient(circle, red 00%, yellow 100%)
}
#box3{
  background-image:radial-gradient(circle at left top, green 0%, yellow 45%, violet 99%)
}
#box4{
  background-image:radial-gradient(circle at 70% 40px, green 0%, yellow 90%)
}
/* 내가 원하는 모양으로 만들어보기~! rgb도 가능함. */
#box5{
  background-image:linear-gradient(0deg, violet 40%, yellow 90%)
}