@charset "UTF-8";

#show{
  position:relative;
  width: 400px; height: 150px;
  margin: 100px auto;
  border: 3px double palevioletred;
  overflow: hidden;
}

#all{
  position:absolute;
  width:800px; height:100px;
  left: 0; top: 10px;
}

#all>ul{
  float: left;
  width:400px; height:100px;
  background-color: plum;
  margin-top: 10px;
}

#all>ul>li{
  float:left;
  width:90px; height: 90px;
  margin-right: 10px;
  margin-top:5px;
  background-color: purple;
}

a{font-size: 20px; color:black;
  text-align: center;}

#left{
position:absolute;
border-radius: 20px;
background-color: peachpuff;
width:30px; height: 25px;
left:0px; top:105%;
margin-top:5px;
}

#right{
  position: absolute;
  width:30px; height: 25px;
  border-radius: 20px;
  background-color: peachpuff;
  margin-top:5px;
  right:0px; top:105%;
}