@charset "UTF-8";
body{margin: auto;}

#test{
  margin:auto 0;

}

.show{
  margin: auto;
  margin-top: 100px;
  position:relative;
  width:500px; height: 300px;
  border: 5px double orange;
  overflow:visible;
}

#all{
  position: absolute;
  width: 4800px;
  padding: 0 50px;
}

#all>ul.box{
  width: 2400px;
  display: inline-flex;
}

.box>li{
padding-right: 50px;
}

#prev{
  position:absolute;
  left:300px; top:100px;
}

#next{
  position:absolute;
  top:100px; right:300px;
}