@charset "UTF-8";
/* body{margin: auto;} */

#test{
position: relative;
width:410px; height:340px;
margin:100px auto;
border: 10px double green;
overflow: hidden;
}

#all{
  position:relative;
  width:400px; 
  left:5px; top: 40px;
}

#all>ul{
float:left;
display:flex;
flex-wrap: nowrap;
}

#all>ul>li{
float:left;
margin-right: 10px;
}

a{
  color:black; font-size: 20px;
  text-align: center; font-weight: bold;
}

#prev{
position: absolute;
left:0px; top:1%;
background-color: yellowgreen;
width:50px; height:35px;
padding-left: 10px;
}

#next{
  position: absolute;
  right:0px; top:1%;
  background-color: yellowgreen;
  width:50px; height:35px;
  padding-left: 10px;
  }
