@charset "UTF-8";

.hide
{width:0; height: 0; line-height: 0; font-size: 0;
position: absolute; visibility: hidden;}

header{display:inline;}

header>div{
  width: 800px;
  margin: 100px auto;
  border:1px solid none;
  background-color: rgb(62,62,62);}

nav>ul>li{
border: 1px solid none;
padding: 10px 35px;}

nav>ul>li>a{
  font: bold 16px/35px Arial, 'sans-serif';
  text-align: center;
  color:#fff;}

  nav>ul>li>a:hover{
  color: #fff;
  background-color: rgb(120,120,120);}