@charset "utf-8";
/* CSS Document */

dl, dt,dd{margin:0; padding:0;}
dl{width:800px;
font:14px /35px Arial,sans-serif;}
dt{
	width:80px; 
	clear:both;
	float:left;}

dd{width:720px; float:right;}
dt:nth-of-type(3n+1){background-color:pink;}
dd:nth-last-of-type(4n+1){background-color:yellow;}

::selection{background-color:red;}