@charset "UTF-8";
.hide{
  width: 0; height: 0;
  font-size: 0; line-height: 0;
  position:absolute;
  visibility: hidden;}

body{
  width: 1100px;
  margin: auto;
}

header{
  background-color: rgb(148, 145, 145);
  padding: 35px 45px 20px 15px;
  position: relative;
}

header>h1{
  font-size: 30px;
  color:#fff;
  font-weight: lighter;
  font-family: cursive;
  text-indent: 30px;
}

nav>ul{
display: inline-flex;
float:right;
}

nav>ul>li>a{
font-family: cursive;
font-size: 20px;
color: #000;
padding-right: 35px;
}

main{
clear:both;
}

.box01{
 background-color: rgb(128, 125, 125);
 padding: 100px 265px;
}

.box01>a{
}

.box02>a>figure{
border: 2px solid white;
display:inline-flex;
flex-direction: wrap;

}