@charset "utf-8";

div#wrap{
  width:600px;
  box-sizing: border-box;
  background-color:rgb(250,206,52);
  margin:0 auto;
  padding: 20px;}

  header
  {background-color:white;
  margin-bottom:20px;}

header>h1
{font: bold 24px/32px '나눔명조',serif;
color:red;
text-align:center;}

div#contents
{background-color:rgb(154,207,27);
overflow:hidden;
margin-bottom:20px;}

#contents>.left
{width:271px;
float:left;
text-align:justify;
font:12px/20px '나눔명조',serif;
background-color:rgb(24,130,10);}

#contents>.right{
  width:271px;
  float:right;
  text-align:justify;
  font: 12px/20px '나눔명조',serif;
  background-color:rgb(160,40,44);}

  footer
  {clear:both;
  background-color:rgb(128,128,128);
  text-align:center;
  }