@charset "utf-8";

ul{
  width:200px;
  margin:40px auto 0;
  background-color: #666;}

  ul>li{
    height:64px;
    position:relative;}

    ul>li>a{
      width:200px; height:64px;
      font:bold 15px/64px '나눔고딕',sans-serif;
      color:white;
      background: rgb(102,102,102) url('../ex/img/icons.png') no-repeat right top;
      border-radius: 0 45px 45px 0;
      transition: all ease-in-out;
      position:absolute; left:0; top:0;
      text-indent: 15px;
      opacity:0.7;
    }

    ul>li>a:hover{
      width:250px; height:64px;
      font-weight: bold;
      font-size:25px;
    opacity:1;}

      ul>li:nth-child(1)>a:hover{background-color:red;}
      ul>li:nth-child(2)>a:hover{background-color:orange;}
      ul>li:nth-child(3)>a:hover{background-color:yellow;}
      ul>li:nth-child(4)>a:hover{background-color:green;}
      ul>li:nth-child(5)>a:hover{background-color:blue;}