@charset "utf-8";

ul{
  background-color: #666;
  margin:40px auto 0;
  width:200px;}

  /* 왜 이건 안되지 */
  ul>li{
    height:64px;
    position:relative; left:0; top:0;
    background: rgb(102,102,102) url('../ex/img/icons.png') no-repeat right 0 top 0;
    border-radius:0 45px 45px 0;
    opacity:0.6;}

    ul>li:hover{width:250px; height:64px;
    opacity:1;
    transition:all ease-in-out;
    font-weight: bold;
    font-size:30px;}

    ul>li>a{
      color:white;
      font: bold 14px/ 64px '나눔고딕',sans-serif;
      position:absolute;
      text-indent:15px;}

      ul>li:nth-child(1)>a:hover{
        background-color: red;
      }