@charset "utf-8";
/* CSS Document */

table {
	border-collapse:collapse; 
	width:500px;
	border:1px solid #000;}
td, th { 
	padding:5px ;
	border:1px solid #000;}

tr:nth-child(3){background-color:pink;}
tr:nth-of-type(5){font-size:10px;}