@charset "utf-8";
/* CSS Document */

table {
	border-collapse:collapse; 
	width:500px;
	border:1px solid #000;}
td, th { 
	padding:5px ;
	border:1px solid #000;}

tr:nth-child(4n+2){background-color:pink;}

/* nth-last-child는 아예 역순으로 진행됨 */
tr:nth-last-child(4n+2){font-size:35px; color:red;}