@charset "utf-8";
/* CSS Document */

#all{ width:600px; height:400p; background-color:#FF0;}

.box_01, .box_02{width:100px; height:100px;}

.box_01{
  background:#F00;
  position:fixed;  right:0; top:200px;

position:relative; left:100px; top:150px;}
 
/* width:auto, float, 자기 자리를 다른요소 침범이 안됨 */